body{
    margin: 0;
    background: #047991;
}

button{
    background-color: transparent;
    border: none;
    color: #000080;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background: #4d4d4d;
    font-family: 'Lemon', sans-serif;
    font-weight: 300;
}

header ::after{
    content: '';
    display: table;
    clear: both;
}

nav{
    float: left;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 90px;
    padding-top: 50px
}

nav a{
    color: #000080;
    text-decoration: none;
    text-transform: uppercase;
}