body{
    margin: 0;
    background: #047991;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background: #ff9900;
    font-family: 'Lemon', sans-serif;
    font-weight: 300;
}

header ::after{
    content: '';
    display: table;
    clear: both;
}

nav{
    float: left;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
}

nav a{
    color: #000080;
    text-decoration: none;
    text-transform: uppercase;
}