body {
    margin: 0;
    background: wheat;
}

nav button {
    background-color: transparent;
    border: none;
    color: #000080;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Lemonada', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    font-family: 'Lemon', sans-serif;
    font-weight: 300;
    padding-top: 20px;
    background: #D3560E;
}

header ::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: left;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    font-family: 'Lemonada', sans-serif;
    display: inline-block;
    margin-left: 200px;
    
}

li :hover {
    background-color: #ffbb00;
}

nav a {
    color: #000080;
    text-decoration: none;
    text-transform: uppercase;
}

.logo {
    float: left;
    width: 100px;
    height: 100px;
}