.topnav {
    overflow: hidden;
    background-color: #D3560E;
    padding: 90px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.topnav a :hover {
    background-color: #FF8000;
    color: black;
}

.topnav a.active {
    background-color: cadetblue;
    color: wheat;
}

.topnav {
    float: center;
}

@media screen and (max-width: 580px){
    .topnav{
        padding: 20px 10px !important;
    }
}

.topnav a {
    float: none;
    display: block;
    text-align: left;
}